*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg,blue,white,yellow);
}
h1{
    color: aqua;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}